body {
  color: rgb(255, 255, 255);
  background-color: rgb(87, 62, 222);
  font-family: "Arvo", serif;
  font-style: normal;
  padding: 20px 0 20px 20px;
  margin: 0;
}

.navigation {
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

.links ul {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding-top: 20px;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a:hover {
  transition: all 0.3s ease-in-out;
  color: rgb(204, 192, 192);
}

.static {
  display: flex;
  justify-content: space-evenly;
  padding: 30px 0 0 100px;
}

.intro {
  line-height: 1.5;
  font-size: 30px;
  padding-top: 30px;
}
.logo {
  height: 300px;
}
